
.iuv{
    background-image: linear-gradient(to right, rgb(131, 209, 235), rgb(31, 31, 170));
}
footer{
    background-image: radial-gradient(rgb(255, 183, 50), rgb(131, 75, 55));
}
.nosotros{
    background-image: linear-gradient(to left, rgb(218, 214, 214), rgb(122, 120, 120)) ;
}


form{
    background-image: linear-gradient(to right,rgb(67, 67, 214), blue);
}


  footer{
    background-color: lightcoral;
}


body{
   
    text-align: center;
}
.iuv{
    background-color: lightblue;
}

.nosotros{
    background-color: lightslategray;
}
.nos1{
    text-align: justify;
}

.tf{
    
    font-size: 20px;
    
    }

.tf li{
    list-style-type: none;
   
}


.inicio{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.2fr 1.5fr 0.1fr 0.1fr;
    grid-template-areas:
    "titulo titulo titulo titulo"
    "indice indice indice indice"
    "nosotros nosotros nosotros nosotros"
    "footer footer footer footer";
    grid-row-gap: 3px;
}

.head{
    grid-area: titulo;

}

.iuv{
    grid-area: indice;
}

.nosotros{
    grid-area: nosotros;
}

.tf{
    grid-area: footer;
}


.maps{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.2fr 1.5fr 0.1fr;
    grid-template-areas: 
    "titulo titulo titulo titulo"
    "mapas mapas mapas mapas"
    "footer footer footer footer";
    grid-row-gap: 3px;
}

.mapas{
    grid-area: mapas;
    background-color: rgb(136, 136, 187);
}

@media screen and (max-width: 480px){
    
    .inicio{
       grid-template-columns: 1fr;
       grid-template-rows: 0.2fr 1.5fr 0.1fr 0.1fr;
       grid-template-areas: 
       "titulo"
       "indice"
       "nosotros"
       "footer" ;
       grid-row-gap: 3px ;

    }
    
    
    
.menu{
        display: flex;
        flex-direction: column;
        background-color: coral;
        align-items: stretch;
}
.head{
    flex-direction: column;
    flex-wrap: wrap;
  
}

.iuv{
    flex-wrap: wrap;
}

.nosotros{
    flex-wrap: wrap;
}

.tf{
   flex-wrap: wrap;
}


@media screen and (max-width: 480px){
    
    .maps{
       grid-template-columns: 1fr;
       grid-template-rows: 0.2fr 1.5fr 0.1fr 0.1fr;
       grid-template-areas: 
       "titulo"
       "mapas"
       "footer" ;
       grid-row-gap: 3px ;

    }

.mapas{
    flex-wrap: wrap;
}

